# News Analyst
cc - Ujjwal Rajput
ujjwalrajputofficial.in@gmail.com

### Step 1 - Web Scraping

##### Importing Libraries

In [1]:
from bs4 import BeautifulSoup
from datetime import datetime
import time
import requests
import pandas as pd
import os

#### Web Scraping function 
Collecting news from www.news.google.com

In [2]:
count = 1
num_pages=1
base_url = "https://news.google.com/search?q="
cps = ['HDFC','SBI']  # Replace with your desired search query

headlines_list = []
sources_list = []
dates_list = []
cps_list = []

for cp in cps:
    for page_num in range(num_pages):
    
        url = base_url+cp
        response = requests.get(url)

        if response.status_code == 200:
            soup = BeautifulSoup(response.text, "html.parser")
            
            headlines = soup.find_all("h3", class_="ipQwMb ekueJc RD0gLb")
            dates = soup.find_all("time", class_="WW6dff uQIVzc Sksgp slhocf")
            sources = soup.find_all("div", class_="N0NI1d AVN2gc WfKKme")
            for headline, sources, dates in zip(headlines, sources , dates):

                date = dates["datetime"]
                source = sources.a.text
                headline_text = headline.a.text

                parsed_date = datetime.strptime(date, "%Y-%m-%dT%H:%M:%SZ")
                formatted_date = parsed_date.strftime("%d-%m-%y")
                
                headlines_list.append(headline_text)
                sources_list.append(source)
                dates_list.append(formatted_date)
                cps_list.append(cp)
                
                count += 1

            time.sleep(2)  # Add a delay to avoid overloading the server
        else:
            print("Unable to establish connection ")
            print(response)
            break
data = {
    "Company":cps_list,
    "Headline": headlines_list,
    "Source": sources_list,
    "Date": dates_list

}
print("Scraping Sucessfull \nTotal Article Scraped : "+str(count) )

Scraping Sucessfull
Total Article Scraped : 208

Storing the Scrapped data in form of DataFrame and Excel

In [3]:
df = pd.DataFrame(data)

save_directory = r"d:\github\News-Analyst"  # Replacable directory path
excel_filename = os.path.join(save_directory, "google_news_scraped_data.xlsx")

df.to_excel(excel_filename, index=False)

print("Saved successful")

Saved successful

In [4]:
df.shape

(207, 4)

In [7]:
df.head()

,Company,Headline,Source,Date
202,SBI,SBI server down: Why State Bank of India net b...,The Economic Times,04-04-23
203,SBI,SBI Q1 results may surprise investors. BNP Par...,The Economic Times,21-07-23
204,SBI,Best CEOs: How Dinesh Kumar Khara is taking SB...,Business Today,27-04-23
205,SBI,"₹2,000 note exchange/ deposit: Know rules for ...",Mint,27-05-23
206,SBI,Loan rates to rise? SBI hikes lending rate by ...,Business Today,15-07-23

In [8]:
df.tail()

,Company,Headline,Source,Date
202,SBI,SBI server down: Why State Bank of India net b...,The Economic Times,04-04-23
203,SBI,SBI Q1 results may surprise investors. BNP Par...,The Economic Times,21-07-23
204,SBI,Best CEOs: How Dinesh Kumar Khara is taking SB...,Business Today,27-04-23
205,SBI,"₹2,000 note exchange/ deposit: Know rules for ...",Mint,27-05-23
206,SBI,Loan rates to rise? SBI hikes lending rate by ...,Business Today,15-07-23

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Company   207 non-null    object
 1   Headline  207 non-null    object
 2   Source    207 non-null    object
 3   Date      207 non-null    object
dtypes: object(4)
memory usage: 6.6+ KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Company   207 non-null    object
 1   Headline  207 non-null    object
 2   Source    207 non-null    object
 3   Date      207 non-null    object
dtypes: object(4)
memory usage: 6.6+ KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Company   207 non-null    object
 1   Headline  207 non-null    object
 2   Source    207 non-null    object
 3   Date      207 non-null    object
dtypes: object(4)
memory usage: 6.6+ KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Company   207 non-null    object
 1   Headline  207 non-null    object
 2   Source    207 non-null    object
 3   Date      207 non-null    object
dtypes: object(4)
memory usage: 6.6+ KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Company   207 non-null    object
 1   Headline  207 non-null    object
 2   Source    207 non-null    object
 3   Date      207 non-null    object
dtypes: object(4)
memory usage: 6.6+ KB